@using AttivaMente.Core.Models
@model List<Ruolo>

<h1>Benvenuto in AttivaMente!</h1>

<h3>Ruoli presenti nel database:</h3>
<ul>
    @foreach (var ruolo in Model)
    {
        <li>@ruolo.Nome (Id: @ruolo.Id)</li>
    }
</ul>
